@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Parkinsans", sans-serif;
}

body {
    background-color: #222222;
    color: white;
}

.cont {
    width: 100vw;
    height: 100vh;
}

.tit {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.tit > h1 {
    font-weight: 550;
    padding: 0px;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px  rgba(255, 255, 255, 0.397);
}

.tit:hover > h1{
    color: #47dacb;
    transition: 0.8s;
} 

.menu {
    width: 100vw;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu > a {
    color: white;
    border: none;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.6;
}

.menu > a:hover {
    color: #47dacb;
    transition: 0.6s;
}

#login-es {
    border: 2px solid #47dacb;
    color: white;
    transition: 0.6s;
    border-radius: 10px;
}

#login-es:hover {
    
    background-color: #47dacb;
    transition: 0.8s;
}

main {
    display: flex;
    flex-flow: column-reverse;
}

.txt {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    transition: 1s;
    
}

.txt > h2 {
    text-align: center;
    cursor:default ;
}

.txt > h2:hover {
    color: #47dacb;
}

.txt > .ES {
    font-weight: bolder;
    color: #47dacb;
    margin-bottom: 10px;
}

.txt > .ES:hover {
    color: white;
} 

.txt > p {
    text-indent: 10px;
    text-align: justify;
    margin: 0px 15px;
    margin-bottom: 10px;
}

.txt > form {
    display: flex;
    flex-flow: column nowrap;
    width: 75vw;
    margin: 5px 5px;
    border: none;
}

#iemail , #isenha{
    font-weight: 500;
    text-indent: 5px;
    border: none;
    padding: 12px;
    margin: 12px 0px;
    margin-bottom: 0px;
    border-radius: 8px;
}

#ibtn {
    color: white;
    background-color: #47dacb;
    padding: 8px 15px;
    margin: 7px 0px 10px 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .8s;
}

#ibtn:hover {
    background-color: white;
    color: #47dacb;
    transition: .8s;
}

img {
    margin: 0;
    height: 30vh;
    width: 100vw;
    transition: 1s;
}