@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Parkinsans", sans-serif;
}

:root {
    --cor-fundo: #47dacb;
}

body {
    background-color: #222222;
    color: white;
}

.cont {
    width: 100vw;
    height: 100vh;
}

.tit {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.tit > h1 {
    font-weight: 550;
    padding: 0px;
    cursor: default;
    text-shadow: 1px 1px  rgba(255, 255, 255, 0.397);
}

.menu {
    width: 100vw;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu > a {
    color: white;
    border: none;
    padding: 4px 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.6;
}

#login-es {
    border: 2px solid var(--cor-fundo);
    color: white;
    transition: 0.6s;
    border-radius: 10px;
}

main {
    display: flex;
    flex-flow: column-reverse;
    transition: 0.8s;
}

.txt {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.txt > h2 {
    text-align: center;
    cursor:default ;
}

#subtitle2 {
    font-weight: bolder;
    color: var(--cor-fundo);
    margin-bottom: 10px;
}

.txt > p {
    text-indent: 10px;
    text-align: justify;
    margin: 0px 15px;
    margin-bottom: 10px;
}

.txt > form {
    display: flex;
    flex-flow: column nowrap;
    width: 75vw;
    margin: 5px 5px;
    border: none;
}

#iemail , #isenha{
    font-weight: 500;
    text-indent: 5px;
    border: none;
    padding: 12px;
    margin: 12px 0px;
    margin-bottom: 0px;
    border-radius: 8px;
}

#enviar {
    color: white;
    background-color: var(--cor-fundo);
    padding: 8px 15px;
    margin: 7px 0px 10px 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: .8s;
}

img {
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 100vw;
    transition: 0.8s;
}